<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django + MySQL</title>
    <style>
        img {
            margin-top: 50px;
            width: 150px;
            height: 150px;
        }
    </style>
</head>
<body>

<h1>Users</h1>
<p>

<form action="" method="post">
    <fieldset id="search">
        <legend>Data for searching User by name</legend>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Search">
    </fieldset>
</form>

<img src="sillyCat.jpg" alt="ne rabotaet?">

</body>
</html>